<div id="main-content" class="container">
  <div class="text-info" ng-show="signUpCtrl.showMessage">
    {{signUpCtrl.message}}
  </div>
<form novalidate name="signUpForm">
  <div class="form-group">
		<label for="name" class="cols-sm-2 control-label">First name</label>
		<input type="text" name="firstName" ng-model="signUpCtrl.firstName" class="form-control" placeholder="Enter your first name" required/>
    <p ng-show="signUpForm.firstName.$invalid && !signUpForm.firstName.$pristine" class="help-block">First name is required</p>
	</div>
  <div class="form-group">
		<label for="name"  class="cols-sm-2 control-label">Last name</label>
		<input type="text" name="lastName" ng-model="signUpCtrl.lastName" class="form-control" placeholder="Enter your last name" required/>
    <p ng-show="signUpForm.lastName.$invalid && !signUpForm.lastName.$pristine" class="help-block">Last name is required</p>
	</div>
  <div class="form-group">
		<label for="name" class="cols-sm-2 control-label">Email</label>
		<input type="email" name="email" ng-model="signUpCtrl.email" class="form-control" placeholder="Enter your email address" required/>
    <p ng-show="signUpForm.email.$invalid && !signUpForm.email.$pristine" class="help-block">Enter valid email address</p>
	</div>
  <div class="form-group">
		<label for="number" class="cols-sm-2 control-label">Phone number</label>
		<input type="number" name="phone" ng-model="signUpCtrl.phone" class="form-control" placeholder="Phone number" required/>
    <p ng-show="signUpForm.phone.$invalid && !signUpForm.phone.$pristine" class="help-block">Enter valid phone number</p>
	</div>
  <div class="form-group">
		<label for="name" class="cols-sm-2 control-label">Favourite dish</label>
		<input type="text" name="shortName" ng-model="signUpCtrl.shortName" class="form-control" placeholder="Enter your favourite dish" required/>
    <p ng-show="signUpForm.shortName.$invalid && !signUpForm.shortName.$pristine" class="help-block">Favourite dish is required</p>
	</div>

  <button type="button" ng-disabled="signUpForm.$invalid" class="btn btn-success" ng-click="signUpCtrl.submit()" name="button">Submit</button>
</form>
</div>
